.videoPage{
    top: 12%;
    position: absolute;
    left: 15%;
    
    background-color: #181818;
    display: flex;
    flex-wrap: wrap;
    width: 85%;

}
.recom{
    background-color: #181818;
}